.id0{
  border: 55px solid rgb(255, 0, 0);
}
.id1{
  border: 55px solid rgb(16, 15, 15);
}
.id2{
  border: 55px solid rgb(167, 2, 2);
}
.id3{
  border: 55px solid rgb(62, 61, 61);
}
.id4{
  border: 55px solid rgb(255, 187, 0);
}
.id5{
  border: 55px solid rgb(255, 3, 255);
}
.id6{
  border: 55px solid rgb(255, 38, 0);
}
.id7{
  border: 55px solid rgb(185, 185, 185);
}
.id8{
  border: 55px solid rgb(166, 110, 4);
}
.id9{
  border: 55px solid rgb(10, 73, 10);
}
.id10{
  border: 55px solid rgb(155, 43, 43);
}
.id11{
  border: 55px solid rgb(4, 120, 147);
}
.id12{
  border: 55px solid rgb(0, 0, 28);
}
.id13{
  border: 55px solid rgb(245, 243, 239);
}
.id14{
  border: 55px solid rgb(54, 4, 87);
}
.id15{
  border: 55px solid rgb(14, 23, 23);
}

body{
 background-color: darkslategrey;
}